.vscode

__pycache__
*.pyc
*.whl

cpp/build
python/acad-extractor/build
python/acad-extractor-c-api/build

python/acad-extractor-c-api/dist
python/acad-extractor-c-api/acad_extractor.egg-info
